/* 
.navBar {
  width: 100; 
  background-color: lightsalmon;
  color: gray;
  font-size: 24px;
  padding: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

nav ul li {
  list-style: none;
  margin-right: 1em;
}

nav ul li:hover {
  color: black;
}

nav ul li:active {
  background-color: white;
}


.login-form {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: blue;
  background-image: linear-gradient(Red);
}


.auth-form-container {
  display: flex;
  flex-direction: column;
}
.auth-form-container {
  padding: 5rem;
  border: 1px solid blue;
  border-radius: 10 px solid;
  margin: 0.5rem;
}

label {
  text-align: center;
  padding: 0.25rem 0;
}

input {
  margin: 0.5 rem 0;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
} 

button {
  width: 100% ;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer; 
}

button:hover {
  background-color: #0056b3;
}

/* .Login-form {
text-align: center;
display: flex;
min-height: 100vh;
align-items: center;
justify-content: center;

}
 */
/* 
 h1 {
  text-align: center;
 }
button:hover {
  background-color: #0056b3;
}

/* .Login-form {
text-align: center;
display: flex;
min-height: 100vh;
align-items: center;
justify-content: center;

}
 */

/*  h1 {
  text-align: center;
 } */ 

 /* src/App.css */
.App {
  text-align: center;
}

.login-container {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

.login-heading {
  border: 1px soli;
  padding: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin: 10px 0;
  padding: 5px;
}

.login-form button {
  margin: 10px 0;
  padding: 10px;
  background-color: lightblue;
  color: #fff;
  border: none;
  cursor: pointer;
}

.navbar {
  background-color: blueviolet;
  padding: 10px 0;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-item a {
  text-decoration: none;
  color: #fff;
}
